.BackgroundContainer {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
  transition: opacity 0.3s cubic-bezier(0.5, 0, 0.1, 1) 0s;
}

.PreviewMedia .BackgroundContainer {
  z-index: 1;
}
.BackgroundContainer__NavShadow {
  height: 114px;
  background: url('https://assets.nflxext.com/en_us/akira/jawBone/nav-shadow.png') no-repeat center 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 20;
  background-size: 100% 114px;
}

.BackgroundContainer__Vignette {
  background: #000;
  z-index: 2;
  width: 30%;
  position: absolute;
  top: 0;
  bottom: 0;
}

.BackgroundContainer__Vignette::before {
  content: '';
  position: absolute;
  z-index: 10;
  background-image: linear-gradient(to right, #000, transparent);
  top: 0;
  bottom: 0;
  left: 100%;
  width: 275px;
}
