.ContainerModal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  left: 0;
  will-change: scroll-position;
  box-sizing: border-box;
}

.Modal {
  left: auto;
  transform-origin: 50% 12.5% 0px;
  top: 2em;
  width: 947.42px;
  opacity: 1;
  margin-bottom: 2em;
  transform: none;
  min-width: 850px;
  z-index: 2;
  will-change: transform;
  position: absolute;
  color: #fff;
  background-color: transparent;
  font-size: 16px;
  z-index: 2;
  border-radius: 6px;
  overflow: hidden;
  box-sizing: inherit;
}
