.PreviewMediaInfo {
  padding: 18px 0 12px 4%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 10;
}

@media screen and (min-width: 1500px) {
  .PreviewMediaInfo {
    padding-left: 60px;
  }
}
