.PreviewImageContainer {
  width: 100%;
  padding-top: 56.3925%;
  overflow: hidden;
  box-sizing: inherit;
}

.PreviewImage {
  opacity: 1;
  min-width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transition: height .2s ease-in-out;
  max-width: 100%;
  display: block;
  box-sizing: inherit;
  border: 0;
}
