.FooterContainer {
  background: rgba(0, 0, 0, 0.75);
  margin-top: 0;
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 236px;
  min-width: 190px;
  width: 100%;
  font-size: 1em;
  color:#999;
}

.FooterContainer .Footer__Container {
  max-width: 1000px;
  margin: 0 auto;
  padding: 30px 0;
  width: 90%;
}
